{% extends 'base.html' %}
{% block title %}Blogly{% endblock %}
{% block content %} 

    <h1>Edit User</h1>
    <form action="/users/{{user.id}}/edit" method="POST">
        <label for="first_name">First Name</label>
            <input type="text" name="first_name" placeholder="First Name" value="{{first}}"> 
        
        <label for="last_name">Last Name</label>
            <input type="text" name="last_name" placeholder="Last Name" value="{{last}}"> 
        
        <label for="img_url">Image URL</label>
            <input type="text" name="img_url" placeholder="http://" value="{{img}}"> 
        <button class="btn submit">Submit</button>   
    </form>
  

     
    
{% endblock %}
